<mat-toolbar color="primary" class="shadow">
  <span>{{ title }}</span>
  <span> <button mat-fab> + </button> </span>
  <span class="example-fill-remaining-space"></span>
  <span class="toggle-bar">
  </span>
</mat-toolbar>
<div class="flex-container">
  <div class="left-container">
    <div class="flex-text-area">
       <textarea mdInput class="text-area-control" placeholder="Please past your code to get references " [formControl]="textAreaControl"></textarea>
    </div>
    <div class="flex-button-area">
      <button mat-raised-button color="primary" (click)="getASTJSON()"> Submit Code </button>
    </div>
    <div>
      <textarea mdInput placeholder="your output" [formControl]="outputControl">

      </textarea>

    </div>

  </div>
  <div class="right-container">

      <!-- <ul class="tree-parent">
        <li *ngFor="let key of keys" class="tree-parent-element" (click)="showTree(key)"> {{ key }}
          <ul [hidden]="key !== currentKey " class="tree-child">
            <li *ngFor="let data of result[key]">
            {{ data.reference }} (at {{data.line }}: {{ data.column }})
          </ul>
        </li>

      </ul> -->

    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of keys" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item }} - {{ output[item].length }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let data of result[item]" class="data-div">
          {{ data.reference }} <span class="reference"> (at {{data.line }}: {{ data.column }}) </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

